body {

background-color:#FAFCFC;
margin-top: 50px;
}

.body_block {
  
  padding-left: 20%;
  text-align:left;
  
}


h1 {
  
font-size: 36px;
color:#6B6A6A;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
  
}

h2 {
  
font-size: 30px;
color:#928D8C;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
  
}

h3 {

font-size: 24px;
color:#3B3736;
font-family: 'Montserrat', sans-serif;

}

p {

font-size: 14px;
color:#6B6A6A;
font-family: 'Montserrat', sans-serif;

}
