body {

background-color:#fff;

}

title {
  
font-size: 30px;
color:#b1b1b1;
font-family: sans-serif;
  
}

h1 {

font-size: 20px;
color:#b1b1b1;
font-family: sans-serif;

}

p {

font-size: 10px;
color:#b1b1b1;
font-family: sans-serif;

}
